<!DOCTYPE html>

<html lang="en">
    <head>
    	<link rel="stylesheet" href= "/css/bootstrap.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner ">
              <ul class="nav">
                <li><a class="brand" href="/">Ask!</a></li>
                <li>
                  <form class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Search">
                  </form>
                </li>
                <li><a href="/ask/" class="btn btn-danger offset5">ASK</a></li>
              </ul>
                {% block login %}
                {% endblock %}
            </div>
        </div>
     <div class="container">
          <div class="row">
              <div class="span9">

                {% block main %}
                {% endblock %}

              </div>
               <div class="span3">
                    <div>
                        <h3>Popular tags</h3>
                        <a href="#">Hello</a>,
                        <a href="#">Bmstu</a>,
                        <a href="#">music</a>,
                        <a href="#">Dota</a>
                        <a href="#">TechnoPark</a>,
                        <a href="#">SQL</a>
                    </div>
                    <div>
                        <h3>Best members</h3>
                        <ul>
                              <li>You</li>
                              <li>Alex</li>
                              <li>Mary</li>
                              <li>Tomm</li>
                              <li>Sheldon</li>
                              <li>Leonard</li>
                        </ul>
                    </div>
               </div>
          </div> 
     </div>
     </body>
</html>