{% extends "base.html" %}

{% block main %}
    <ul class="nav">
        <b>Sorting by</b>
        <a href="/sort">Raiting</a>
        <a href="/">Date of added</a>
    </ul> 
{% for question in questions %}
    <div class="question">
        <div class="row">
            <div class="span2">
                <img src="http://lorempixel.com/120/120/">
                <div class="row">
            		<div class="span">
            			<div class="like"><span class="badge">{{question.author.rating}}</span></div>
            		</div>            
           			<div class="span1">               
                    	<a class="btn btn-mini" href="#"> <i class="icon-chevron-up"></i></a>
                    	<div><a class="btn btn-mini" href="#"> <i class="icon-chevron-down"></i></a></div>
               		</div>
            	</div>
            </div>
            <div class="span6">
                <h4><a href="/answer/{{question.id}}">{{question.title}}</a></h4>
                <p>{{question.text}}</p>
                <div>
                    <a href="/answer/{{question.id}}">answers <span class="badge">{{question.answer__count}}</span></a>
                    <b>Tags:</b>
                    {% for tag in question.tags.all %}
                       <a> {{tag.word}}</a>
                    {% endfor %}
                </div>                          
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="pagination">
        <ul>
            {% if questions.has_previous %}
                <li><a href="?page={{ questions.previous_page_number }}">prev</a></li>
            {% endif %}

           <li><a href="?page={{questions.number}}">{{ questions.number }} of {{questions.paginator.num_pages }}</a></li>
                {% if questions.has_next %}
                    <li><a href="?page={{ questions.next_page_number }}">next</a></li>
                {% endif %}        
        </ul>
    </div>

{% endblock %}

{% block login %}
        <ul class="nav pull-right">
          <li><img src="http://lorempixel.com/35/35/"></li>
          <li><a href="#">setting</a></li>
          <li><a href="#">log out</a></li>
        </ul>
{% endblock %}

{% block logout %}
        <ul class="nav pull-right">
          <li><a href="http://localhost/login">log in</a></li>
          <li><a href="http://localhost/signup">register</a></li>
        </ul>
{% endblock %}

